{% extends "layout/basic.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
{% load bootstrap4 %}
{% load static %} 
<div class="container-fluid mt-3">
		<div class="row">
					{% if post.image %}
					<div class="col-md-auto"ximg src="{{ post.image.url }}"
					class="main-image"></div>
					{% endif %}
					<div class="col">
						<h2>{{ post.title }}</h2>
						<p>{{ post.content }}</p>
						<div class="row">
						<ul class="col nav justify-content ">
							{% for marker in post.markers.all %} 
								<li class="nav-item"><a class="nav-link"
								href="{% url 'by_marker' marker.name %} "> {{ marker.name }} </a></li>
							{% endfor %} 
							</ul>
						</div>
						<a class="btn btn-danger" href="{% url 'postdelete' post.id %}" role="button">Delete</a>	
						<a class="btn btn-warning" href="{% url 'postedit' post.id %}" role="button">Edit</a>	


							 <p class="text-right font-italic"> 
							 {{ post.published }}</p>
				</div>
		</div>
</div>
{% if attacments %}
<div class="d-flex justify-content-between flex-wrap mt-5">
	{% for att in attachments %}
	<div>
		<img class="additional-image" src="{{ att.image.url }}">
	</div>
	{% endfor %}
</div>
{% endif %}
<h4 class="mt-5">new comment</h4>
<form method="post">
	{% csrf_token %}
	{% bootstrap_form form layout='horizontal' %}
	{% buttons submit="add comment" %} {% endbuttons %}
</form>
{% if comments %}
<div class="mt-5">
	{% for comment in comments %}
	<div class="my-2 p-2 border">
		<h5>{{ comment.author }}</h5>
		<h2> {{ comment.title }} </h2>
		<p>{{ comment.text }}</p>
		<p class-"text-right font-italic">{{ comment.created_at }}</p>
	</div>
	{% endfor %}
</div>
{% endif %}
{% endblock %}
