{% extends "layout/basic2.html" %} 
{% block content %} 
	<h2> list posts </h2>
	{% for post in posts %}
	<div>
				<h2><a href="{% url "postdetail" pk=post.pk %}">{{ post.title }}</a></h2>
				<p>{{ post.content }}</p>
				<p>{{ post.published|date:"d.m.Y H:i:s" }}</p>
				{% for teg in post.tegs.all %} 
					<p><a href="{% url 'by_teg' teg.name %}">{{ teg.name }}</a></p>
				{% endfor %}
	</div>
	{% endfor %}
	{% if page_obj.has_previous %}	
	<a href="?page={{ page_obj.previous_page_number }}"> previous page </a>
	{% endif %} 
	<h2>{{ page_obj.number }} </h2>
	{% if page_obj.has_next %} 
	<a href="?page={{ page_obj.next_page_number }}"> next page </a>
	{% endif %} 
	
{% endblock %}
