{% extends "layout/basic.html" %}

{% load thumbnail %}
{% load static %} 
{% load bootstrap4 %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
		<div class="row">
					{% if post.image %}
					<div class="col-md-auto"><img src="{{ post.image.url }}"
					class="main-image"></div>
					{% endif %}
					<div class="col">
						<h2>{{ post.title }}</h2>
						<p>{{ post.content }}</p>
						<div class="row">
						<ul class="col nav justify-content ">
							{% for marker in post.markers.all %} 
								<li class="nav-item"><a class="nav-link"
								href="{% url 'by_marker' marker.name %} "> {{ marker.name }} </a></li>
							{% endfor %} 
							</ul>
						</div>
						<a class="btn btn-danger" href="{% url 'postdelete' post.id %}" role="button">Delete</a>	
						<a class="btn btn-warning" href="{% url 'postedit' post.id %}" role="button">Edit</a>	


							 <p class="text-right font-italic"> 
							 {{ post.published }}</p>
				</div>
		</div>
</div>
{% if attachments %}
<div class="d-flex justify-content-between flex-wrap mt-5">
	{% for att in attachments %}
	<div>
		<img class="additional-image" src="{{ att.image.url }}">
	</div>
	{% endfor %}
</div>
{% endif %}
<div class="container">
	<h4 class="mt-5 font-italic ">new comment</h4>
	<form method="post">
		{% csrf_token %}
		{% bootstrap_form form size='small' layout='inline' %}
		{% buttons submit="add comment" %} {% endbuttons %}
	</form>
	{% if comments %}
		{% for comment in comments %}
		<div class="p-2 border">
			<p>{{ comment.author }}</p>
			<h2> {{ comment.title }} </h2>
			<p>{{ comment.text }}</p>
			<p class-"text-right font-italic">{{ comment.created_at }}</p>
		</div>
	{% endfor %}
</div>
{% endif %}
{% endblock %}
