{% load bootstrap4 %} 
{% load static %} 
<!DOCTYPE html>
<html>
		<head>
				<meta charset="UTF-8">
				<meta name="viewport"
				content="width=device-width, initial-scale=l, shrink-to-fit=no">
				<title>{% block title %}Main{% endblock %} - MinutePy blog</title>
						{% bootstrap_css %}
						<link rel="stylesheet" type="text/css"
						href="{% static "blog/style.css" %}">
						{% bootstrap_javascript jquery='slim' %}
		</head>
		<body class="container-fluid">
				<header class="mb-4">
					<a class="display-4 nav-link" href="{% url 'main' %}">MinutePy</a>
				</header>
				<div class="row">
						<ul class="col nav justify-content-end border">
								{% if not user.is_authenticated %} 
								<li class="nav-item"><a class="nav-link"
								href="{% url 'register' %} ">registraition</a></li>
								<li class="nav-item"><a class="nav-link"
								href="{% url "login" %}">login</a></li>
								{% else %}	
								<li class="nav-item"><a class="nav-link"
								href="{% url "postcreate" %}">create post</a></li>
								<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle"
										data-toggle="dropdown"
										href="#" role="button" aria-haspopup="true"
										aria-expanded="false">Profile</а>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="{% url 'profile' %}">
												Profile</а>
												<a class="dropdown-item" href="{% url 'edit_user' %}">Edit
												profile</а>
												<a class="dropdown-item" href="{% url 'password_change'%}">Change
												password</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="{% url "logout" %}">
												logout</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="{% url "delete_user" %} ">
													delete</a>
										</div>
								</li>
								{% endif %} 
						</ul>
				</div>
				<div class="row">
						<nav class="col-md-auto nav flex-column border">
								{% for marker in markers %}
								{% ifchanged marker.main_section %}
								<span class="nav-link root font-weight-bold">
								{{ marker.main_section.name }}
								{% endifchanged %}
								<a class="nav-link" href="{% url 'by_marker' marker_name=marker.name %}">
									{{ marker.name }}</a>
								{% endfor %}
						</nav>
						<section class="col border py-2">
								{% bootstrap_messages %}
								{% block content %}
								{% endblock %}
						</section>
				</div>
				<footer class="mt-3">
						<p class="text-center font-italic">&copy; dont play </p>
				</footer>
		</body>
</html>
